---
import Base from '../layouts/Base.astro';
---

<Base title="TOP TIER">
  <main>
    <h1>TOP TIER</h1>
  </main>
</Base>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
</style>
